# Application configuration
PORT=4000

# MinIO Connection Configuration
# For endpoint, you can specify 'localhost:9000' or separate host and port.
# If MINIO_ENDPOINT includes a port, that port will be used.
MINIO_ENDPOINT=localhost:9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=mdvis-docs
